* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  border: none;
  line-height: normal;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
    color: inherit;
}

html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
