@use 'reset';
@use 'colors' as *;

.navbar {
  display: flex;
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-3;
  background-color: white;

  &__logo {
    width: 66px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  &__register,
  &__login {
    height: 40px;
    padding: 0px 16px;
  }

  &__register {
    font-weight: 500;
  }

  &__login {
    font-weight: 400;
  }
}

@media (min-width: 640px) {
  .navbar {
    padding: 12px 160px;
  }
}

.btn {
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--primary {
    background-color: $orange;
    color: white;
  }

  &--secondary {
    background-color: white;
    color: black;
    border: 1px solid $grey-0;
  }
}

.hero {
  display: flex;
  width: 100%;
  padding: 40px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__content {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  &__title {
    font-size: 32px;

    &--highlight {
      color: $orange;
      font-weight: 700;
    }
  }

  &__bullets {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__bullet {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  &__join {
    display: flex;
    position: relative;
    width: 100%;
    padding: 40px 16px 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    border: 2px solid $green;
    box-shadow: 0px 15px 83px 0px rgba(159, 159, 159, 0.12);
    margin-top: 24px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #1e1e1e;
  }

  &__register-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  &__input {
    height: 56px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid $grey-1;
    font-size: 16px;

    &::placeholder {
      color: #909090;
    }
  }

  &__submit {
    height: 56px;
    padding: 24px 16px;
    font-weight: 600;
    font-size: 16px;
  }

  &__social-register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__instructions {
    color: $grey-0;
    font-size: 14px;
  }

  &__social-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__social-options {
    display: flex;
    gap: 12px;
  }

  &__social-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 3px;
    border: 1px solid $grey-3;
  }

  &__privacy-policy,
  &__login {
    font-size: 12px;
    text-align: center;
  }

  &__privacy-policy {
    color: $grey-1;
    width: 240px;
  }

  &__login {
    color: $grey-0;

    &--highlight {
      color: $orange;
    }
  }

  &__bonus {
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    border: 2px solid $green;
    color: $green;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    width: max-content;
  }

  &__rating-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  &__rating-social-icon {
    width: 32px;
  }

  &__rating {
    display: flex;
    padding-top: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }

  &__rating-stars {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }

  &__rating-sub {
    font-size: 14px;
    color: $grey-1;

    &--highlight {
      color: $grey-2;
    }
  }
}
