// Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  line-height: normal;
}

html,
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
