* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: none;
  line-height: normal;
}

html,
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
