@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  line-height: normal;
}

html,
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.btn {
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn--primary {
  background-color: #ec7700;
  color: white;
}
.btn--primary:hover {
  background-color: #e45d13;
}
.btn--secondary {
  background-color: white;
  color: black;
  border: 1px solid #54565a;
}
.btn--secondary:hover {
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  z-index: 999;
}
.navbar__logo {
  width: 66px;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
}
.navbar__link {
  height: 40px;
  padding: 0px 16px;
}
.navbar__link--register {
  font-weight: 500;
}

@media (min-width: 640px) {
  .navbar {
    padding: 12px 160px;
  }
}
.hero {
  display: flex;
  width: 100%;
  padding: 40px 12px 24px 12px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.hero__content {
  display: flex;
  padding: 0px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.hero__title {
  font-size: 32px;
  line-height: 48px;
}
.hero__title--highlight {
  color: #ec7700;
  font-weight: 700;
}
.hero__feature-bullets {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__feature-bullet {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.hero__feature {
  line-height: 24px;
}
.hero__join {
  display: flex;
  position: relative;
  width: 100%;
  padding: 40px 16px 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  border: 2px solid #61a60e;
  box-shadow: 0px 15px 83px 0px rgba(159, 159, 159, 0.12);
  margin-top: 24px;
  max-width: 400px;
}
.hero__subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #54565a;
}
.hero__register-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.hero__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}
.hero__input {
  height: 56px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #aeaeae;
  font-size: 16px;
}
.hero__input::-moz-placeholder {
  color: #909090;
}
.hero__input::placeholder {
  color: #909090;
}
.hero__submit {
  height: 56px;
  padding: 24px 16px;
  font-weight: 600;
  font-size: 16px;
}
.hero__social-register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.hero__instructions {
  color: #54565a;
  font-size: 14px;
}
.hero__social-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.hero__social-options {
  display: flex;
  gap: 12px;
}
.hero__social-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  z-index: 2;
}
.hero__privacy-policy, .hero__login {
  font-size: 12px;
  text-align: center;
  z-index: 2;
}
.hero__privacy-policy {
  color: #aeaeae;
  width: 240px;
  line-height: 20px;
}
.hero__login {
  color: #54565a;
}
.hero__login--highlight {
  color: #ec7700;
}
.hero__bonus {
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  border: 2px solid #61a60e;
  color: #61a60e;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  width: -moz-max-content;
  width: max-content;
}
.hero__rating-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.hero__rating-wrapper--desktop {
  margin-top: 40px;
  display: none;
}
.hero__rating-social-icon {
  width: 32px;
}
.hero__rating {
  display: flex;
  padding-top: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.hero__rating-stars {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.hero__rating-sub {
  font-size: 14px;
  color: #aeaeae;
}
.hero__rating-sub--highlight {
  color: #47566e;
}
.hero__mascot {
  position: absolute;
  left: 234px;
  top: 266px;
  width: 271px;
  height: 271px;
  background: url("../img/donkey.webp") no-repeat;
  display: none;
}

@media (min-width: 640px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    gap: 164px;
    padding: 84px 0 0 0;
  }
  .hero__title {
    font-size: 48px;
    line-height: normal;
  }
  .hero__rating-wrapper--mobile {
    display: none;
  }
  .hero__rating-wrapper--desktop {
    display: flex;
  }
  .hero__content {
    justify-content: center;
    gap: 40px;
    padding: 52px 0 0 0;
  }
  .hero__feature-bullet {
    font-size: 20px;
    align-items: center;
  }
  .hero__feature {
    line-height: 32px;
  }
  .hero__join {
    padding: 40px 40px 24px 40px;
  }
  .hero__bonus {
    background-color: #61a60e;
    color: white;
  }
  .hero__mascot {
    display: block;
  }
}